<div class="container">
  <div class="youkoso">
    <%= image_tag "kirakira.jpeg" %>
    <h1 class="welocome">ようこそ</h1>
  </div>
  <div class="text">
    <p class="p1" id="registerBtn">新規登録</p>
    <p class="p2" id="loginBtn">ログイン</p>
  </div>
</div>
<div id="loginModal" class="modal">
  <div class="modal-content">
   <span class="close">&times;</span>
   <div class="login">
     <%= render "session" %>
   </div>
  </div>
</div>
<div id="registerModal" class="modal">
  <div class="modal-content">
   <span class="close">&times;</span>
   <div class="register">
     <%= render "new" %>
   </div>
  </div>
</div>



